[credential]
helper = osxkeychain

[core]
editor = nvim
excludesfile = ~/.giti
pager = delta

[delta]
hunk-header-style = omit
light = true
navigate = true
pager = less
right-arrow = ->

[filter "lfs"]
required = true
clean = git-lfs clean -- %f
process = git-lfs filter-process
smudge = git-lfs smudge -- %f

[pull]
rebase = false

[user]
email = brunoroque06@gmail.com
name = Bruno Roque
