[core]
	editor = vim
	pager = delta
	excludesfile = ~/.gitignore_global

[diff]
	tool = vimdiff

[difftool]
	prompt = false

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[merge]
	tool = vimdiff

[mergetool]
	keepBackup = false

[user]
	name = Bruno Roque
	email = brunoroque06@gmail.com

[pull]
	rebase = false
