#!/bin/zsh

# Antibody
alias armplugins='rm -rf $(antibody home)'

# Bazel
alias bb='bazel build'
alias bba='bazel build --verbose_failures //...'
bdeps() { bazel query 'deps('$1')' }
alias br='bazel run'
alias bt='bazel test'
alias bta='bazel test //...'

# Config
alias reload="source $HOME/.zshrc"
alias configzsh="$EDITOR $HOME/.zshrc"
alias configvim="$EDITOR $HOME/.vimrc"
alias configgit="$EDITOR $HOME/.gitconfig"

# Directory
alias ..='cd ..'
alias chmodx='chmod +x'
alias ls='ls -FHG'
alias la='ls -FHGa'
alias ll='ls -FHGal'
mvfiles() { mv $1*(DN) $2 }
alias rmrf='rm -rf'
up() {
  if [[ "$#" < 1 ]] ; then
    cd ..
  else
    local cdstr=""
    for i in {1..$1} ; do
      cdstr="../$cdstr"
    done
    cd $cdstr
  fi
}
alias tree='find . | sed -e "s/[^-][^\/]*\//  |/g" -e "s/|\([^ ]\)/|-\1/"'

# Docker
alias drun='docker build -t ${PWD##*/} . ; docker run --net='host' ${PWD##*/}'
alias dclean='docker system prune --volumes -f'
alias dcomposebuild='docker-compose build --force-rm --pull --no-cache'
alias dcomposeup='dclean; dcomposebuild; docker-compose up'
dcomposefileup() { docker-compose -f $1 up }
dcomposefiledown() { docker-compose -f $1 down }
alias drmimages='docker rmi -f $(docker images -a -q)'
alias drmcontainers='docker stop $(docker ps -a -q); docker rm $(docker ps -a -q)'

# Git
alias ga='git add'
alias gaa='git add --a'
alias gb='git checkout'
alias gbb='git checkout -b'
alias gbrm='git branch -d'
alias gbrmremote='git push origin --delete'
alias gbmaster='git checkout master'
alias gc='git commit'
alias gca='git commit --amend --no-edit'
alias gcam='git commit -am'
alias gd="git diff --color | diff-so-fancy"
alias gpush='git push -u origin $(git rev-parse --abbrev-ref HEAD)'
alias gpull='git pull'
alias grebase='git rebase'
alias greset='git reset --hard'
alias gs='git status -u'

# Java
alias jrun='java -jar'
alias jview='jar tvf'

# Maven
alias manalyse='mvn dependency:analyze'
alias minstall='mvn install'
alias mtree='mvn dependency:tree'

# Network
alias ports='lsof -PiTCP | grep LISTEN'

# Pipelines
export GREP_OPTIONS='--color=always'
alias -g C='| pbcopy'
alias -g G='| grep'

# Text
replace() { echo ${1//$2/$3} }
trim() { echo $@ | tr -d '\040\011\012\015' }
json() { echo $1 | python -m json.tool }
pastefile() { echo $(pbpaste) > $1 }

# Zip
unzip() {
  mkdir ${1%.*}
  tar -xvzf $1 -C ${1%.*}
}
