#!/usr/bin/env bash

# Antibody
alias abrmplugins='rm -rf $(antibody home)'

# Bazel
alias bb='bazel build --verbose_failures'
alias bba='bazel build --verbose_failures //...'
bdeps() { bazel query 'deps('"$1"')'; }
alias br='bazel run'
alias bt='bazel test'
alias bta='bazel test //...'

# Commands
pc() { ([[ ! -z $(declare -f "${1}") ]] && declare -f "${1}") || alias "${1}"; }

# Directories
alias ..='cd ..'
alias ll='ls -FHGal'
mvfiles() { mv "$1*(DN)" "$2"; }
alias rmrf='rm -rf'

# Display
alias displays='system_profiler SPDisplaysDataType'

# Docker
alias dcb='docker-compose build --force-rm --pull --no-cache'
alias dcd='docker-compose down'
alias dclean='docker system prune --volumes -f'
alias dcu='docker-compose up'
alias dps='docker ps'
alias dr='docker build -t ${PWD##*/} . ; docker run --net="host" ${PWD##*/}'
alias drmc='docker stop $(docker ps -a -q); docker rm $(docker ps -a -q)'
alias drmi='docker rmi -f $(docker images -a -q)'

# Dotfiles
alias reload="exec zsh"
alias dotfilescheck='shellcheck .aliases .spoud .zshrc brew install'

# Files
alias c='bat --theme=zenburn --style=header,grid'
alias chmodx='chmod +x'
fpaste() { cmd "$(pbpaste)" > "$1"; }
alias ftrim="sed -i '' 's/[[:space:]]*$//'"
funzip() { mkdir "${1%.*}"; tar -xvzf "$1" -C "${1%.*}"; }

# Git
alias ga='git add'
alias gaa='git add --a'
alias gb='git branch'
alias gba='git branch -a'
alias gbd='git branch -D'
alias gc='git commit'
alias gcam='git commit -am'
alias gcamend='git commit --amend --no-edit'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gcp='git cherry-pick'
alias gd='git diff --color | diff-so-fancy | less -RFX'
gl() { git log --graph --abbrev-commit --decorate --format=format:"%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)" --all -"${1:-20}"; }
alias glp='git log -p'
alias gpush='git push -u origin $(git rev-parse --abbrev-ref HEAD)'
alias gpull='git pull'
alias grb='git rebase'
alias greset='git reset --hard'
alias grl='git reflog --date=iso'
alias gs='git status -u'
alias lg='lazygit'

# Golang
alias gob='go build ./...'
alias gof='gofmt -s -w .'
alias gor='go run'
alias got='go test ./...'

# Java
alias jr='java -jar'
alias jv='jar tvf'

# Maven
alias manalyse='mvn dependency:analyze'
alias minstall='mvn install'
alias mtree='mvn dependency:tree'

# Mundane Life
alias cal3='cal -3'
alias caly='cal -y'
weather() { curl http://wttr.in/~"${1:-Bern}"; }

# Npm
alias nci="npm ci"
alias ni='npm install'
alias nlg='npm list -g --depth=0'
alias nr='npm run'
alias ns="awk '/\"scripts\":/,/}/' package.json"

# Pipelines
alias -g C='| pbcopy'
alias -g G='| grep --color=always'

# Processes
alias lports='lsof -PiTCP G LISTEN'
alias k9='kill -9'

# Text
replace() { printf "%s" "${1//$2/$3}"; }
trim() { printf "%s" "$@" | tr -d '\040\011\012\015'; }
json() { printf "%s" "$1" | python -m json.tool; }
alias ftext='grep -nRHI --exclude-dir={bazel-\*,.git,node_modules} --exclude=.gitignore "" * .* | fzf'

# Tmux
alias ta='tmux attach-session -t'
alias tks='tmux kill-server'
alias tl='tmux list-sessions'
tn() { tmux new-session -s "${1:-default}"; }

# Vim
alias v='vim'
alias vud='vim +PlugUpgrade +PlugUpdate! +PlugClean! +qa'
