#!/usr/bin/env bash

# Antibody
alias abrmplugins='rm -rf $(antibody home)'

# Bazel
alias bb='bazel build'
alias bba='bazel build --verbose_failures //...'
bdeps() { bazel query 'deps('"$1"')'; }
alias br='bazel run'
alias bt='bazel test'
alias bta='bazel test //...'

# Configurations
alias reload="exec zsh"
alias dotfilescheck='shellcheck .aliases .spoud .zshrc brew install'

# Directories
alias ..='cd ..'
findtext() { grep --color=always -r -i --include="${2:-.*}" --exclude-dir=.git "$1" .; }
mvfiles() { mv "$1*(DN)" "$2"; }
alias rmrf='rm -rf'
alias tree='find . | sed -e "s/[^-][^\/]*\//  |/g" -e "s/|\([^ ]\)/|-\1/"'

# Docker
alias dr='docker build -t ${PWD##*/} . ; docker run --net="host" ${PWD##*/}'
alias dclean='docker system prune --volumes -f'
alias dcb='docker-compose build --force-rm --pull --no-cache'
alias dcu='dclean; dcb; docker-compose up'
dcfu() { docker-compose -f "$1" up "${@:2}"; }
dcfd() { docker-compose -f "$1" down; }
alias drmi='docker rmi -f $(docker images -a -q)'
alias drmc='docker stop $(docker ps -a -q); docker rm $(docker ps -a -q)'

# Files
alias c='bat --theme=TwoDark'
alias chmodx='chmod +x'
pastefile() { cmd "$(pbpaste)" > "$1"; }
unzip() { mkdir "${1%.*}"; tar -xvzf "$1" -C "${1%.*}"; }

# Git
alias ga='git add'
alias gaa='git add --a'
alias gba='git branch -a'
alias gbd='git branch -D'
alias gc='git commit'
alias gcam='git commit -am'
alias gcamend='git commit --amend --no-edit'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gd='git diff --color | diff-so-fancy | less --tabs=2 -RFX'
alias gl='git log --graph --abbrev-commit --decorate --format=format:"%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)" --all -20'
alias glp='git log -p'
alias gpush='git push -u origin $(git rev-parse --abbrev-ref HEAD)'
alias gpull='git pull'
alias grb='git rebase'
alias greset='git reset --hard'
alias gs='git status -u'

# Java
alias jr='java -jar'
alias jv='jar tvf'

# List
lc() { echo "$(alias) $(declare -f | grep ' ()' | awk '{print $1}')" | grep --color=always "^$1"; }
alias ll='ls -FHGal'
alias lports='lsof -PiTCP G LISTEN'

# Maven
alias manalyse='mvn dependency:analyze'
alias minstall='mvn install'
alias mtree='mvn dependency:tree'

# Npm
alias nci="npm ci"
alias ni='npm install'
alias nlg='npm list -g --depth=0'
alias nr='npm run'
alias ns="awk '/\"scripts\":/,/}/' package.json"

# Pipelines
alias -g C='| pbcopy'
alias -g G='| grep --color=always'

# Text
replace() { echo "${1//$2/$3}"; }
trim() { echo "$@" | tr -d '\040\011\012\015'; }
json() { echo "$1" | python -m json.tool; }

# Tmux
alias tn='tmux new'
alias tks='tmux kill-server'

# Vim
alias v='vim'
alias vupdate='vim +PlugUpgrade +PlugInstall! +PlugUpdate! +PlugClean! +qa'

