"*":
  "atom-beautify":
    html:
      beautify_on_save: true
      default_beautifier: "Pretty Diff"
      end_with_newline: true
    markdown:
      beautify_on_save: true
      default_beautifier: "Prettier"
    scss:
      beautify_on_save: true
      newline_between_rules: false
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "SF Mono"
    softWrap: true
  "exception-reporting":
    userId: "f9d15046-0876-487b-977b-e243dd66432c"
  "go-plus":
    panel:
      fontSize: "1em"
  "one-dark-ui":
    fontSize: 14
  "spell-check":
    locales: [
      "en-US"
    ]
  welcome:
    showOnStartup: false
