"*":
  core:
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "base16-tomorrow-dark-theme"
    ]
  editor:
    fontFamily: "SF Mono"
    fontSize: 14
    softWrap: true
  "exception-reporting":
    userId: "f9d15046-0876-487b-977b-e243dd66432c"
  "one-dark-ui":
    fontSize: 14
  "vim-mode-plus": {}
