" https://youtrack.jetbrains.com/issue/IDEA-67559

" https://github.com/JetBrains/ideavim/wiki/%22set%22-commands
set clipboard=unnamed
set hlsearch
set ignorecase
set incsearch
set number
set relativenumber
set scrolloff=8
set showcmd
set showmode
set smartcase

set ideajoin
set ideamarks
set idearefactormode=keep

set commentary
set highlightedyank
set NERDTree
set surround

sethandler <c-2> a:vim
sethandler <c-[> a:vim
sethandler <c-\> a:vim
sethandler <c-a> a:vim
sethandler <c-b> a:vim
sethandler <c-c> a:vim
sethandler <c-d> a:vim
sethandler <c-e> a:vim
sethandler <c-f> a:vim
sethandler <c-g> a:vim
sethandler <c-h> a:vim
sethandler <c-i> a:vim
sethandler <c-j> a:vim
sethandler <c-k> a:vim
sethandler <c-l> a:vim
sethandler <c-m> a:vim
sethandler <c-n> a:vim
sethandler <c-o> a:vim
sethandler <c-p> a:vim
sethandler <c-q> a:vim
sethandler <c-r> a:vim
sethandler <c-s-2> a:vim
sethandler <c-s-6> a:vim
sethandler <c-s> a:vim
sethandler <c-t> a:vim
sethandler <c-u> a:vim
sethandler <c-v> a:vim
sethandler <c-w> a:vim
sethandler <f1> a:ide

nnoremap - :action ShowNavBar<cr>
nnoremap == :action ReformatCode<cr>
nnoremap =i :action OptimizeImports<cr>
nnoremap [<space> O<esc>j
nnoremap ]<space> o<esc>k
nnoremap [d :action GotoPreviousError<cr>
nnoremap ]d :action GotoNextError<cr>
nnoremap [e ddP
nnoremap ]e ddp
nnoremap [f :action MethodUp<cr>
nnoremap ]f :action MethodDown<cr>

sethandler <m-enter> a:vim
nnoremap <m-enter> :action ShowIntentionActions<cr>

nnoremap <leader>` :action ActivateTerminalToolWindow<cr>
nnoremap <leader>a :action ShowIntentionActions<cr>
nnoremap <leader>b :action RecentChangedFiles<cr>
nnoremap <leader>c :action GotoAction<cr>
nnoremap <leader>d :action GotoDeclaration<cr>
nnoremap <leader>f :action SearchEverywhere<cr>
nnoremap <leader>g :action FindInPath<cr>
nnoremap <leader>h :action ShowErrorDescription<cr>
nnoremap <leader>i :action GotoImplementation<cr>
nnoremap <leader>m :action ShowBookmarks<cr>
nnoremap <leader>q :quit<cr>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<cr>
nnoremap <leader>s :action SplitHorizontally<cr>
nnoremap <leader>t :action FileStructurePopup<cr>
nnoremap <leader>u :action ShowUsages<cr>
nnoremap <leader>v :action SplitVertically<cr>
nnoremap <leader>z :action HideAllWindows<cr>

nnoremap <c-o> :action Back<cr>
nnoremap <c-i> :action Forward<cr>

nnoremap <c-j> <c-w>j
nnoremap <c-k> <c-w>k
nnoremap <c-l> <c-w>l
nnoremap <c-h> <c-w>h

nnoremap <c-=> :action Unsplit<cr>
nnoremap <c-m> :action MoveEditorToOppositeTabGroup<cr>
