set commentary
set highlightedyank
set NERDTree
set surround

source ~/.config/nvim/init.vim

nnoremap <leader><cr> :action ShowIntentionActions<cr>
nnoremap <leader>` :action ActivateTerminalToolWindow<cr>
nnoremap <leader>a :action SearchEverywhere<cr>
nnoremap <leader>b :action RecentChangedFiles<cr>
nnoremap <leader>db :action ToggleLineBreakpoint<cr>
nnoremap <leader>dd :action Debug<cr>
nnoremap <leader>dr :action Run<cr>
nnoremap <leader>ds :action Stop<cr>
nnoremap <leader>f :action SearchEverywhere<cr>
nnoremap <leader>g :action FindInPath<cr>
nnoremap <leader>h :action ShowErrorDescription<cr>
nnoremap <leader>m :action ShowBookmarks<cr>
nnoremap <leader>n :action NewElementSamePlace<cr>
nnoremap <leader>r :action Refactorings.QuickListPopupAction<cr>
nnoremap <leader>t :action ActivateStructureToolWindow<cr>
nnoremap <leader>u :action FindUsages<cr>
nnoremap <leader>x :NERDTree<cr>
nnoremap <leader>z :action ToggleDistractionFreeMode<cr>

nnoremap == :action ReformatCode<cr>

nnoremap gd :action GotoDeclaration<cr>
nnoremap gi :action GotoImplementation<cr>
