#!/usr/bin/env bash

# Arch Linux
alias s=startx
alias pacman_sync='sudo pacman -Syu'
alias pacman_remove_unused='sudo pacman -Rns $(pacman -Qtdq)'
alias yay_sync='yay -Syu'

# Brew
alias brew_update='brew update; brew upgrade; brew cleanup; brew doctor'
alias brew_cask_update='brew update; brew cask upgrade; brew cask doctor'

# Commands
cmds() {
  KEYWORD=$(printf "%s" "$1" | tr '[:upper:]' '[:lower:]')
  LOWERCASE='tolower($0) ~'
  PATTERN="/#.*$KEYWORD.*/,/^$/"
  awk "$LOWERCASE $PATTERN;" "$HOME"/.aliases
}
cmd() { ([[ -n $(declare -f "${1}") ]] && declare -f "${1}") || alias "${1}"; }

# Directories
alias ..='cd ..'
alias l='exa --all --classify --git --long'
alias ll='ls -aGlh'
alias rm_rfs='rm -rf $(du -hd 1 | fzf -m)'
alias tree='exa --all --tree --level=2 --ignore-glob=".git|node_modules"'

# Docker
alias dcb='docker-compose build --force-rm --pull --no-cache'
alias dcd='docker-compose down'
alias dcp='docker-compose pull'
alias dcu='docker-compose up --abort-on-container-exit'
alias dprune='docker stop $(docker ps -a -q); docker rm $(docker ps -a -q); docker system prune --volumes -f'
alias dps='docker ps'
alias drmi='docker rmi -f $(docker images -a -q)'

# Files
alias c='bat --theme=1337 --style=header,grid'

# Find
alias -g G='| grep --color=always'

# Git
alias ga='git add'
alias gaa='git add --a'
alias gb='git branch'
alias gba='git branch -a'
alias gbd='git branch -D'
alias gc='git commit'
alias gcam='git commit -am'
alias gcm='git commit -m'
alias gcamend='git commit --amend --no-edit'
alias gco='git checkout'
alias gcob='git checkout -b'
alias gcp='git cherry-pick'
alias gd='git diff --color | diff-so-fancy | less -RFX'
gl() { git log --all --decorate --graph --format=format:"%C(blue)%h%C(reset) - %C(green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)" -"${1:-20}"; }
alias gpush='git push -u origin $(git rev-parse --abbrev-ref HEAD)'
alias gpull='git pull'
alias grb='git rebase'
alias greset='git reset --hard'
alias gs='git status -u'
alias lg='lazygit'

# Golang
alias gob='go build ./...'
alias gof='gofmt -s -w .'
alias gor='go run'
alias got='go test ./...'

# Java
alias jr='java -jar'
alias jv='jar tvf'

# Json
alias -g J='| jq'

# Kafka
KAFKA='localhost:9092'
KAFKA_CONSUMER_GROUP='default'
ZOOKEEPER='localhost:2181'
kc() { kafka-console-consumer --bootstrap-server "$KAFKA" --topic "${1}" --group "${2:-$KAFKA_CONSUMER_GROUP}"; }
alias kcg='kafka-consumer-groups --bootstrap-server $KAFKA --list'
kcgd() { kafka-consumer-groups --bootstrap-server "$KAFKA" --describe --group "${1:-$KAFKA_CONSUMER_GROUP}"; }
alias kp='kafka-console-producer --broker-list $KAFKA --topic'
alias kt='kafka-topics --zookeeper $ZOOKEEPER --list'
alias ktc='kafka-topics --create --zookeeper $ZOOKEEPER --replication-factor 1 --partitions 1 --topic'

# Makefile
alias m='make'

# Mundane Life
alias cal3='cal -3'
alias caly='cal -y'
alias cv_update='cp "$HOME"/Downloads/curriculum_vitae.pdf "$HOME"/Projects/brunoroque06.github.io/documents/BrunoRoqueCv.pdf; tar -xf "$HOME"/Downloads/curriculum-vitae.zip -C "$HOME"/Projects/brunoroque06.github.io/documents/curriculum-vitae'
weather() { curl http://wttr.in/~"${1:-Zurich}"; }

# Npm
alias nci='npm ci'
alias ni='npm install'
alias npm_global_list='npm list -g --depth=0'
alias npm_global_update='npm update -g'
alias nr='npm run'
alias ns="awk '/\"scripts\":/,/}/' package.json"

# Processes
alias list_ports='lsof -PiTCP G LISTEN'
alias k9='kill -9'

# Python
alias py='python'
alias pydb='python -m pdb'
alias pip_uninstall_all='pip freeze | xargs pip uninstall -y'

# Shell
alias shell_scripts_lint='find . -not -path "./.git/*" -type f \( ! -name "*.*" -o -name ".*" \) -exec shellcheck -x -e SC1090 {} \;'
alias shell_scripts_format='shfmt -i 2 -s -w .'

# Text
alias find_text='grep -nRHI --exclude-dir={bazel-\*,.git,node_modules} --exclude=.gitignore "" * .* | fzf'

# Tmux
alias ta='tmux attach-session -t'
alias tks='tmux kill-session -t $(tmux display-message -p "#S")'
alias tl='tmux list-sessions'
tn() { tmux new-session -s "${1:-default}"; }

# Vim
alias v='vim'

# VSCode
readonly CODE_PLUGINS="$HOME/.vscode/extensions.txt"
alias code_extensions_export='code --list-extensions > $CODE_PLUGINS'
alias code_extensions_install='< $CODE_PLUGINS xargs -L 1 code --install-extension'

# Yank/Paste
alias p='pbpaste'
alias -g Y='| pbcopy'

# Zsh
alias reload="exec zsh"
