name: ci

on: [push]

jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - run: cargo install zizmor
      - run: zizmor ./github/workflows/main.yml
      - run: |
          sudo apt update
          sudo apt install elvish shellcheck shfmt -y
      - run: npx prettier -c .
      - run: shfmt -f . | xargs -t -I % shfmt -d %
      - run: shfmt -f . | xargs -t -I % shellcheck -x %
      - run: ls raycast/* | from-lines | each { |f| elvish -compileonly $f }
        shell: elvish {0}
